html,body{
                 width:100%;
                 height:100%;
                 background: url("https://images.unsplash.com/photo-1502623547075-299b5ba76c53?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e322673d7c122d4f6184371422509bdb&auto=format&fit=crop&w=1050&q=80")no-repeat center fixed;
                 background-size:cover;
                }

                 
                
                ul{
                 width:100%;
                 position:absolute;
                 background:white;
                 height:10%;
                }
                
                ul li{
                 display:inline;
                 list-style:none;
                 position:relative;
                 top:30%;
                }
                
                ul li a{
                 text-decoration:none;
                 color:black;
                 margin:110px;
                 font-size:160%;
                }
                
                
                ul li a:hover{
                 background:white;
                 color:#b7d7e8;
                 padding:2%;
                }
                h1 {
                color:white;
                font-size:300%;
                }

                p {
                 color:white;
                 text-align:left;
                 font-size:150%;
                 padding-right:50%;
                 padding-left:10%;
                }
                h2 {
                 color:white;
                }
                footer {
                 position:fixed;
                 padding-left:75%;
                 left: 0;
                 bottom: 0;
                 text-align:right;
                 color:white;
                 padding-top:30px;
                 margin-top:50px;
                }
                
                