


                html,body{
                 width:100%;
                 height:100%;
                 background: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=95618c0e060665fcf0c9e489d8b22982&auto=format&fit=crop&w=1050&q=80")no-repeat center fixed;
                 background-size:cover;
                }

                 
                
                ul{
                 width:100%;
                 position:absolute;
                 background:#F8BBD0;
                 height:10%;
                 text-decoration:none;
                }
                
                ul li{
                 display:inline;
                 list-style:none;
                 position:relative;
                 top:30%;
                 text-decoration:none;
                }
                
                ul li a{
                 text-decoration:none;
                 color:white;
                 margin:90px;
                 font-size:160%;
                 text-decoration:none;
                }
                
                
                ul li a:hover{
                 background:white;
                 color:#b7d7e8;
                 padding:2%;
                 text-decoration:none;
                }
                h1 {
                color:#900C3F;
                padding-left:10%;
                }

                p {
                 color:#900C3F  ;
                 margin-left:15px;
                 font-size:100%;
                 padding-left:25%;
                 padding-right:25%;
                 }
                h2 {
                 color:white;
                }
                
                a { 
                 margin-left:40px;
                 text-decoration:none;
                }
                
                footer {
                 position:fixed;
                 padding-left:2%;
                 left: 0;
                 bottom: 0;
                 text-align:center;
                 color:#900C3F;
                 padding-top:30px;
                 margin-top:50px;
                }
                
                img {
                  border-radius: 50%;
                  width:200px;
                  height:200px;
                  }
                  
                .mainheading {
                 color:#900C3F;
                 padding-left:40%;
                }
                
                .button {
                 text-align:right;
                 text-decoration:none;
                 font-weight:bold;
                }
                
                