#section1{
    background: url("https://images.unsplash.com/photo-1446435210126-bfa18ee3b7a1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3566466d76117e29ffb4160a639748fb&auto=format&fit=crop&w=1202&q=80")no-repeat center fixed;
}

#section2{
  background: url("https://images.unsplash.com/photo-1446435210126-bfa18ee3b7a1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3566466d76117e29ffb4160a639748fb&auto=format&fit=crop&w=1202&q=80")no-repeat center fixed;
}

#section3{
  background: url("https://images.unsplash.com/photo-1446435210126-bfa18ee3b7a1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3566466d76117e29ffb4160a639748fb&auto=format&fit=crop&w=1202&q=80")no-repeat center fixed;
}

.section{
    text-align: center;
    color: white;
    font-size:150%;
    margin-top:0;
    padding-top:0;
    
}

.btn {
    background-color: white;
    color:blue;
   
}

.pagepiling
 {
     padding:25%;
    margin-left:20%;
 }